Repository coolbits-dm/cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: conftest, trivy-scan

.pre-commit-config.yaml:

# CoolBits.ai Pre-commit Configuration
# M9.1 - Secret Scanning Obligatory

repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks
        args: ["--no-git", "--redact"]
        stages: [commit, push]
        language: system
        pass_filenames: false
        always_run: true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        args: [--max-line-length=88, --extend-ignore=E203]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests, types-PyYAML]

  - repo: local
    hooks:
      - id: conftest
        name: conftest
        entry: conftest test
        language: system
        args: [k8s/, -p, policy/rego]
        files: \.(yaml|yml)$
        pass_filenames: false

      - id: trivy-scan
        name: trivy-scan
        entry: trivy image
        language: system
        args: [--severity, HIGH,CRITICAL, --exit-code, 1]
        files: Dockerfile
        pass_filenames: false

ci(proof-pack): dev NOOP; prod guarded on push
  .github/workflows/proof-pack.yml
Due: conftest

ci(pr-bot): disable on push; PR-only
  .github/workflows/policy-pr-bot.yml
Due: conftest

Gate: M16 open (verify-only, dev artifacts)
  artifacts/tripwire/proofpack.status.json
  report/policy-shadow.json
Due: none

Gate: M16 finalize (fallback writer)
  panel/gates.jsonl
  panel/state.json
Due: none

chore(encoding): convert UTF-16→UTF-8 (.py)
  cursor_root_console_server.py
  enhanced_multi_agent_chat_server.py
  individual_agent_portal_server.py
  nul_files.txt
  runner_logs/m16-20250911-155208.log
  scripts/m16_fallback.py
  scripts/runner_m16.ps1
  scripts/set_m16.py
  str.py
Due: none

ci: ignore panel/artifacts/docs; cancel older runs via concurrency
  .github/workflows/ci-cd.yml
  .github/workflows/policy-pr-bot.yml
  .github/workflows/proof-pack.yml
Due: conftest

ci: gate prod-only steps; PR-bot PR-only; robust gcloud step
  .github/workflows/proof-pack.yml
Due: conftest

test(panel): noop
  panel/_noop.json
Due: none

test(ci): verify-only trigger
  tools/.keep
Due: none

Gate: M16 open (verify-only, dev artifacts)
  artifacts/tripwire/proofpack.status.json
  panel/gates.jsonl
  panel/state.json
  report/policy-shadow.json
Due: none

chore(eol): normalize line endings via .gitattributes
  .dockerignore
  LICENSE
  bits-orchestrator/Dockerfile
  email_routing_bulk_mapping.csv
  env.example
  env.prod
  panels/admin-panel/Dockerfile
  panels/agency-panel/Dockerfile
  panels/andrei-panel/Dockerfile
  panels/business-panel/Dockerfile
  panels/user-panel/Dockerfile
  prisma/schema-enhanced.prisma
  prisma/schema.prisma
  scripts/runner_m16.ps1
  str.py
  voice-ocim-kit/Dockerfile
  voice-ocim-kit/env.voice
Due: trivy-scan

ci: standard names/permissions/concurrency/timeouts
  .github/workflows/ci-cd.yml
  .github/workflows/policy-pr-bot.yml
  .github/workflows/proof-pack.yml
Due: conftest

docs: CI badge; chore: CODEOWNERS for workflows
  .github/CODEOWNERS
  README.md
Due: none

ci: standardize workflows, timeouts, paths-ignore, gating; add badge+CODEOWNERS
  .github/workflows/ci-cd.yml
  .github/workflows/policy-pr-bot.yml
  .github/workflows/proof-pack.yml
Due: conftest

ci(nuke): disable all workflows (move to workflows_disabled); leave noop manual only
  .github/workflows/_backup
  .github/workflows/ci-cd.yml
  .github/workflows/docker.yml
  .github/workflows/noop.yml
  .github/workflows/policy-pr-bot.yml
  .github/workflows_disabled/ci-cd.yml.off
  .github/workflows_disabled/ci.yml.off
  .github/workflows_disabled/docker.yml.off
  .github/workflows_disabled/policy-pr-bot.yml.off
  .github/workflows_disabled/proof-pack.yml.off
  .github/workflows_disabled/release.yml.off
Due: conftest

Gate: M16 open (verify-only, dev artifacts)
  panel/gates.jsonl
  panel/state.json
Due: none

feat: M16 work — local development setup with Actions disabled
  runner_logs/m16-20250911-163639.log
  runner_logs/m16-20250911-163750.log
  runner_logs/m16-20250911-164055.log
  runner_logs/m16-20250911-175202.log
Due: none

feat(M16): UTF-8 I/O atomic utils; local M16 runner; unified envelopes for @oPipe @oIlluminate @IIMSIBIS
  app/andrei/andrei.py
  artifacts/local/heartbeat.json
  cblm/proto/__init__.py
  cblm/proto/envelope.py
  cblm/proto/iimsibis.py
  cblm/proto/oilluminate.py
  cblm/proto/opipe.py
  panel/state.json
  str.py
  tests/test_envelope.py
Due: none

feat(M16): wire @oPipe signed heartbeat; tripwire panel; guard metrics export; docs(local)
  .github/CODEOWNERS
  README.md
  app/andrei/andrei.py
  artifacts/dev/guard_metrics.json
  artifacts/local/heartbeat.json
  artifacts/proofpack/README.md
  panel/state.json
  scripts/export_guard_metrics.py
  tests/test_panel.py
Due: none

feat(M16): merge squash from feat/m16-next into main
  .github/CODEOWNERS
  README.md
  app/andrei/andrei.py
  artifacts/dev/guard_metrics.json
  artifacts/local/heartbeat.json
  artifacts/proofpack/README.md
  cblm/proto/__init__.py
  cblm/proto/envelope.py
  cblm/proto/iimsibis.py
  cblm/proto/oilluminate.py
  cblm/proto/opipe.py
  panel/state.json
  runner_logs/m16-20250911-163639.log
  runner_logs/m16-20250911-163750.log
  runner_logs/m16-20250911-164055.log
  runner_logs/m16-20250911-175202.log
  scripts/export_guard_metrics.py
  str.py
  tests/test_envelope.py
  tests/test_panel.py
Due: none

Gate: M17 open (verify-only, dev artifacts)
  panel/gates.jsonl
  panel/state.json
Due: none

feat(M17): non-interactive enforcement + observability V2 + HTML reports
  scripts/generate_report.py
  scripts/no_interactive_guard.ps1
  scripts/runner_m17.ps1
Due: none

perf(M17): turbo guard anti-interactive - streaming scan, timeout, skip dirs
  scripts/no_interactive_guard.ps1
  scripts/runner_m17.ps1
Due: none

feat(M17): non-interactive launcher end-to-end + .cmd fallback
  run_m17.cmd
  scripts/m17_noninteractive_all.ps1
Due: none

chore(M17): add manual-only verify workflow + Actions panic cleanup script
  .github/workflows/ci-cd.yml
  scripts/actions_panic_cleanup.ps1
Due: conftest

ci(ui): build success ()
  sites/app/src/components/Header.tsx
Due: none

chore(api): cleanup root FastAPI main.py (unified health, proper JSON responses, sane root redirect)
  main.py
Due: none

feat(ogrok): add grok execution command
  grok.py
  tests/unit/test_grok_executor.py
  tools/__init__.py
  tools/grok_executor.py
Due: none

CANONIZE: CAMARAD DOCTRINE v1 – Human as Protocol
  CAMARAD_DOCTRINE.md
  inscribe_doctrine.sh
Due: none

GLOBAL RESONANCE LOCK – Camarad Protocol v1 now planetary
  VERSION
  docs/WORLDWIDE_RESONANCE.md
Due: none

CANONIZE: Camarad Protocol v2 – Nuclear Cathedral Live
  ui-camarad/package-lock.json
  ui-camarad/package.json
  ui-camarad/src/components/AgentInterface.tsx
  ui-camarad/src/components/ui/input.tsx
Due: none

CANONIZE: UI v∞ packages – biometric, motion, icons added for seamless experience
  ui-camarad/package-lock.json
  ui-camarad/package.json
Due: none

SEAL: Emperor-only access verified and confirmed
  logs/EMPEROR_SEAL_CONFIRMED.log
Due: none

chore(stripe): add sandbox integration + webhook endpoint docs
  .env.example
  _SANDBOX/README.md
  docs/CLI_ORCHESTRATION_PLAN.md
Due: none
